__pycache__/
*.py[cod]
.venv/
.envrc
.env
data/live-audio/
data/memory/vectors.sqlite
data/cache/
# Ignore memory JSONL by default as it might contain private data
data/memory/memory.jsonl
*.egg-info/
dist/
build/
